html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* First Page */

.landingPage {
    height: 100%;
    background: url(succulenfruitz.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.nav-item {
    text-align: right;
}

h2 {
    font-weight: 200;
}

.introContent {
    margin-bottom: 1rem;
}

#myH1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
}

.people {
    margin: 0;
    font-size: 1.25rem;
}

.person1 {
    background: #D3D3D3;
}

.person2 {
    background: rgb(76, 217, 100);
}

.myHr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.15));
}

#endStruggle {
    margin-top: 2rem;
}

#myArrow {
    color: #fff;
    font-weight: 100;
    font-size: 10rem;
    margin-top: 1rem;
}

/* Second Page */

.secondPage {
    height: 100%;
    background: url(foodbg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#howToPlay {
    background: rgba(244, 244, 244, 0.653);
    color: rgb(12, 8, 8);
    padding: 1rem;
}

.btn {
    font-size: 2rem;
}
/* Large devices (desktops, less than 1200px) */

@media screen and (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991.98px) {
    #myH1{
        font-size: 4rem;
    }
    h2{
        font-size: 1.5rem;
    }
}
/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767.98px) {
    .landingPage {
        height: 100%;
        background: url(succulenfruitz.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .layer{
        background: rgba(244, 244, 244, 0.653);
    }
    .container{
        margin: 0;
    }
    #myH1{
        font-size: 3rem;
    }
    h2{
        font-size: 1.3rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */

@media screen and (max-width: 575.98px) {
   #myH1{
       font-size: 2rem;
   }
}




